<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">create</i>
                        </div>
                        <h4 class="card-title">Agregar Categoría</h4>
                    </div>
                    <div class="card-body ">
                        <form method="#" action="#">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Descripción" type="text" id="descripcion_categoria">
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="card-footer ">
                        <button mat-raised-button type="submit" class="btn btn-fill btn-rose" (click)="onAddCategoria()">Agregar</button>
                        <a mat-raised-button type="submit" class="btn btn-fill btn-primary" [routerLink]="'/categorias'">Atrás</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
