<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Reporte de Servicios Extendido</h4>
                </div>
                <div class="card-footer ">
                  <button mat-raised-button type="button" class="btn btn-fill btn-rose"  (click)="exportar_pdf()">
                      <i class="material-icons">picture_as_pdf</i>Exportar
                  </button>
                  <button mat-raised-button type="button" class="btn btn-fill btn-rose"  (click)="exportar_excel()">
                      Exportar Excel
                  </button>
                </div>
                <!-- <div>  
                    <div class="row">
                      <div class="col-md-6 mr-auto">                          
                        <div class="col-10">
                          <label for="fechadesde">Fecha Desde</label>
                          <input class="form-control" type="date" [(ngModel)]=desdefiltro value="2011-08-19" id="fechadesde">
                        </div>
                      </div>
                      <div class="col-md-6 mr-auto">                            
                          <div class="col-10">
                            <label for="fechahasta">Fecha Hasta</label>
                            <input class="form-control" [(ngModel)]=hastafiltro type="date" value="2011-08-19" id="fechahasta">
                          </div>
                      </div>                        
                    </div>
                    <div class="row">                     
                      <div class="col-md-6 mr-auto">                                 
                        <div class="col-10">
                          <label for="fisio">Empleado</label>
                          <select id="fisio" name ="fisio" [(ngModel)]=fisioterapeutafiltro class="form-control" *ngIf="fisioterapeutas">
                            <option selected="true" value="">Todos</option>
                            <option *ngFor="let row of fisioterapeutas.lista" value={{row.idPersona}}>{{row.nombre}} {{row.apellido}}</option>
                          </select>  
                        </div>
                      </div>  
                      <div class="col-md-6 mr-auto">                                                                         
                        <div class="col-10">
                          <label for="paciente">Cliente</label>
                          <select id="paciente" name ="paciente" [(ngModel)]=pacientefiltro class="form-control" *ngIf="pacientes">
                            <option selected="true" value="">Todos</option>
                            <option *ngFor="let row of pacientes.lista" value={{row.idPersona}}>{{row.nombre}} {{row.apellido}}</option>
                          </select>  
                        </div>
                      </div>
                    </div>   
                    <div class="row">
                        <div class="col-md-6 mr-auto">                                     
                            <div class="col-10">
                              <label for="catego" >Categoria</label>
                              <select id="catego" name ="catego" [(ngModel)]=categoriafiltro class="form-control" *ngIf="categorias" (change)= tipoProd()>
                                <option selected="true" value="">Todos</option>
                                <option *ngFor="let row of categorias.lista" value={{row.idCategoria}}>{{row.descripcion}}</option>
                              </select>  
                            </div>
                        </div>
                        <div class="col-md-6 mr-auto">                                 
                            <div class="col-10">
                              <label for="prod">Subcategoria</label>    
                              <select id="prod" name ="prod" [(ngModel)]=productofiltro class="form-control" *ngIf="productos">
                                <option selected="true" value="">Todos</option>
                                <option *ngFor="let row of productos.lista" value={{row.idTipoProducto}}>{{row.descripcion}}</option>
                              </select>  
                            </div>
                        </div>
                    </div> 
                    <div class="card-footer ">
                        <button mat-raised-button type="button" (click)=filtrar() class="btn btn-fill btn-rose">Buscar</button>
                        <button mat-raised-button type="button" (click)=limpiar() class="btn btn-fill btn-rose">Limpiar</button>
                    </div>              
                </div> -->
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table" id="tabl_reporte_extend">
                                  <thead>
                                      <tr>
                                        <th>Fecha</th>
                                        <!-- <th>Id ficha</th>  -->
                                        <th>Fecha ficha</th>   
                                        <th>Fisioterapeuta</th>  
                                        <th>Paciente</th>
                                        <th>Precio unitario</th>   
                                        <th>Cantidad</th>
                                        <th>Total</th> 
                                        <th>Nombre del producto</th>                                                                                                                                                                                                   
                                                                       
                                      </tr>
                                  </thead>
                                <tbody  >
                                    <tr *ngFor="let row of detalleArray">
                                        <td>{{row.fechaHora}}</td>
                                        <!-- <td>{{row.idFichaClinica.idFichaClinica}}</td>   -->
                                        <td>{{row.fechaHora}}</td>    
                                        <td>{{row.fisioterapeuta}}</td>
                                        <td>{{row.paciente}}</td>   
                                        <td> {{row.precioUnitario}} </td>                                        
                                        <td>{{row.cantidad}} </td>
                                        <td> {{row.total}} </td>
                                        <td>{{row.nombreProducto}} </td>
                                        
                                    </tr>
                                    
                                </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
  
   
  
  </div>