<div class="main-content">
    <div class="container-fluid">
        <div class="alert alert-danger" role="alert" id="agregar_error" style="display: none">
            La Presentación de Producto no pudo ser creada. Mensaje de error: {{agregarError}}
            <button type="button" class="close" (click)="closeAgregarError()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-success" role="alert" id="agregar_success" style="display: none">
            La Presentación de Producto ha sido creada exitosamente. El Id del registro creado es: {{agregarSuccess}}
            <button type="button" class="close" (click)="closeAgregarSuccess()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Agregar Presentación de Producto</h4>
                    </div>
                    <div class="card-body ">
                        <form method="#" action="#" ngNativeValidate>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Código" type="number" id="codigo" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Servicio</mat-label>
                                <mat-select (selectionChange)="flagServicioChange($event.value)">
                                    <mat-option *ngFor="let servicio of serviciosSelect" [value]="servicio">
                                        {{servicio}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                    <mat-label>Id De Producto</mat-label>
                                    <mat-select (selectionChange)="IdProductoChange($event.value)"
                                    name="IdProd" [(ngModel)]="IdProd" required
                                    >
                                      <mat-option *ngFor="let producto of productosSelect"
                                        [value]="producto.idProducto">
                                        Id: {{ producto.idProducto}} - Desc: {{ producto.descripcion}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nombre" type="text" id="nombre">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Precio de Venta" type="text" id="precioVenta">
                            </mat-form-field>
                            <div class="card-footer ">
                                <button mat-raised-button type="submit" class="btn btn-fill btn-rose"
                                    (click)="onAddPresentacionProducto()">Agregar</button>
                                <a mat-raised-button type="submit" class="btn btn-fill btn-primary"
                                    href="#/presentacion-producto/listar">Ir al listado</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>